*{
    scrollbar-width: thin;
    scrollbar-color: #414f6b #b0b4be;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.p-color{
    color: #4d4d4d;
}
.s-color{
    color: #414f6b;
}
.border-bottom-s-color{
    border-bottom: 1px solid #414f6b;
}
.fs-oswal{
    font-family: 'Oswald', sans-serif; 
}
.fs-15{
    font-size: 15px;
}
.bg-s{
    background-color:#414f6b;
}
.mb-6{
    margin-bottom: 15rem;
}
.opacity-5{
    opacity: .5;
}
.hero-bg{
    background-image: url('images/Background.jpg'); 
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.hero-text {
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
}
.hero-text-elements{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7.4rem;
    line-height: 0.85;
}
.text-1{
    letter-spacing: 7px;
}
.text-2{
    letter-spacing: 12px;
    background: -webkit-linear-gradient(
        90deg,
        #2a3346 0%,
        #3d4a64 25%,
        #414f6b 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
}
.hero-bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.digits-font{
    font-size: 6rem;
}
.digits-text{
    bottom: 22px;
    left: 85%
}
.overlay {   
    background-color: rgba(65, 79, 107, 0.5);
}
.tab-btns{
    font-weight: 600;
    color: #b0b4be;
    border-radius: 0px;
}
.tab-btns:hover{
    color: #b0b4be;
    box-shadow: none;
}
.tab-btns.active{
    background-color: #b0b4be;
    color: #414f6b;
    text-decoration: underline;
    text-underline-offset: 5px;
    box-shadow: none;
}
.tab-padding{
    padding: 4rem 10rem 10rem;
}
.overlay-white {   
    background-color: rgba(255, 255, 255, 0.5);
}
.w-max{
    width: max-content;
}
@media (min-width: 991px) {
    .w-lg-75{
        width:75%;
    }
    
}
@media (min-width: 576px) and (max-width:761px) {
    .hero-text-elements{
        font-size: 5rem;
    }
    
}
@media (max-width: 575.75px){
    .tab-content>.tab-pane {
        display: block;
        opacity: 1;
    }
    .hero-bg{
        height:350px;
    }
    .hero-text-elements{
        font-size: 2.5rem;
    }
    .digits-font{
        font-size: 3.5rem;
    }
    .tab-padding{
        padding: 1rem 0;
    }
}  